#container
{
<<<<<<< HEAD
	margin: 0 30px;
	background: #fff;
	cursor:pointer;
	background-color:grey;
=======
	margin: 0 15px;
	background: #4A306C;

>>>>>>> branche_AK
}

#header
{
<<<<<<< HEAD
	color:grey;
	background:black;
	padding: 20px;
	text-decoration:blink;
	text-align:center;
	font-size:xx-large;
}	font-style:italic;
=======
	background: #6DCB1B;
	padding: 20px;
color: #4A306C;
text-align: center;
text-decoration: blink;

}
>>>>>>> branche_AK

#header h1 { margin: 0; }

#navigation
{
	float: left;
	width: 100%;
	background: #fff;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: square;
	display: inline;

}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #010101;
	text-decoration: italic;
	border-right: 1px solid #010101;
}

#navigation li a:hover { background: #383; }

#edito
{
	clear: left;
	padding: 20px;
	margin: 20px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	-webkit-box-shadow: 0px 0px 6px #3ED707;
	box-shadow: 0px 0px 6px #3ED707;
	background-image: -webkit-gradient(linear, left top, right top, from(#d6e1ff), to(#dbffe7));
	background-image: -webkit-linear-gradient(left, #d6e1ff, #dbffe7);
	background-image: linear-gradient(left, #d6e1ff, #dbffe7);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	opacity: 0.83;
<<<<<<< HEAD
	background-color:black;
	color:white;
=======
color: #FFF;
text-align: justify;
>>>>>>> branche_AK
}

#edito h2
{
<<<<<<< HEAD
	color:white;
=======
	color: #3ED707;
>>>>>>> branche_AK
	font-size: 160%;
	margin: 0 0 .5em;
	font-style:oblique;
	background-color:black;
}

#news
{	background-color:white;
	color: #356;
	float: left;
	width: 40%;
	padding: 20px;
	margin: 20px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	-webkit-box-shadow: 0px 0px 6px #3ED707;
	box-shadow: 0px 0px 6px #3ED707;
	background-image: -webkit-gradient(linear, left top, right top, from(#d6e1ff), to(#dbffe7));
	background-image: -webkit-linear-gradient(left, #d6e1ff, #dbffe7);
	background-image: linear-gradient(left, #d6e1ff, #dbffe7);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	opacity: 0.83;
color:#fff;
text-align: justify;
}

#footer
{	color:white;
	font-size:x-small;
	clear: both;
<<<<<<< HEAD
	background: black;
=======
	background: #3ED707;
>>>>>>> branche_AK
	text-align: right;
	padding: 20px;
	height: 1%;
}
